@import 'config';
@import 'utilities';
@import 'grids';
@import 'header';
@import 'cards';
@import 'reset';

body {
  background-color: wheat;
  font-family: $font-stack;
}

::selection {
  color: white;
  background-color: blue;
}

.logo {
  // background: url('../assets/pngguru.com.png');
  // background-position: center;
  // background-size: contain;
}

.albeton_latest {
  height: auto;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 2.5rem;

  .lead_title {
    font-size: 2rem;
    line-height: 1.2;
    width: 350px;
  }

  .albeton_latest_heading {
    line-height: 1.2;
    padding-bottom: 0.25rem;

    li {
      color: blue;
      font-size: 1.2rem;
    }
  }
}

.article_card {
  .image {
    background: url('../assets/thumb_BL_ApersonalTake_800x400_7KElhxm.jpg.600x340_q85_crop_upscale.jpg');
    background-size: cover;
  }

  .article__details {
    .article_header {
      font-size: 0.75rem;
      margin-bottom: 0.2rem;
      line-height: 1.5;
    }

    .category_loop {
      color: #6dcbff;
    }

    .category_artist {
      color: #fed134;
    }

    .category_downloads {
      color: #ff764d;
    }
  }
}

@import 'buttons';
