@import 'config';
@import 'utilities';
@import 'grids';
@import 'header';
@import 'cards';
@import 'reset';

body {
  background-color: wheat;
}

::selection {
  color: white;
  background-color: blue;
}

.logo {
  // background: url('../assets/pngguru.com.png');
  // background-position: center;
  // background-size: contain;
}

.albeton_latest {
  justify-content: flex-end;
  height: 30px;
  margin-bottom: 1rem;

  li {
    color: blue;
  }
}

.article_card .image {
  background: url('../assets/thumb_BL_ApersonalTake_800x400_7KElhxm.jpg.600x340_q85_crop_upscale.jpg');
  background-size: cover;
}

@import 'buttons';
