@import 'config';
@import 'utilities';
@import 'grids';
@import 'header';
@import 'cards';
@import 'reset';

body {
  background-color: wheat;
  font-family: $font-stack;
}

::selection {
  color: white;
  background-color: blue;
}

.logo {
  // background: url('../assets/pngguru.com.png');
  // background-position: center;
  // background-size: contain;
}

.albeton_latest {
  height: auto;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 2.5rem;

  .lead_title {
    font-size: 2rem;
    line-height: 1.2;
    width: 350px;
  }

  .albeton_latest_heading.nav-flex {
    line-height: 1.2;
    padding-bottom: 0.25rem;
    justify-content: flex-end;

    li {
      color: blue;
      font-size: 1.2rem;
      padding: 0 0.5rem;
    }

    .ableton_latest__hamburger {
      display: none;
    }

    @media all and (max-width: 970px) {
      li {
        display: none;
      }
      .ableton_latest__hamburger {
        display: inline;
      }
    }
  }
}

.article_card {
  .image {
    background: url('../assets/thumb_BL_ApersonalTake_800x400_7KElhxm.jpg.600x340_q85_crop_upscale.jpg');
    background-size: cover;
  }

  .article__details {
    .article_header {
      font-size: 0.75rem;
      margin-bottom: 0.2rem;
      line-height: 1.5;
      font-weight: 400;
    }

    .article_title {
      font-size: 0.875rem;
      line-height: 1.5;
    }

    .category_loop {
      color: #6dcbff;
    }

    .category_artist {
      color: #fed134;
    }

    .category_downloads {
      color: #ff764d;
    }
  }
}

.more_categories__wrap {
  display: flex;
  background-color: #eee;
  height: 130px;
  width: 100%;
  align-items: center;

  ul {
    flex: 1;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex-basis: auto;
      padding: 0.3rem;
      color: blue;
      font-size: 1.2rem;

      @media all and (max-width: 700px) {
        font-size: 0.9rem;
      }
      @media all and (max-width: 1300px) {
        font-size: 1rem;
      }
    }

    .plane_text {
      color: black;
    }
  }
}

.footer__wrap {
  width: 100%;

  .footer__title {
    color: blue;
    margin: 0 auto;
    padding: 5rem 0 3rem 2rem;
  }

  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin: 0 2rem;

    @media all and (max-width: 1020px) {
      grid-template-columns: 1fr;

      .newsletter_signup {
        order: -1;
      }
    }
  }

  .newsletter_signup {
    .email_flex {
      display: flex;
      width: 100%;
      .email {
        flex: 1;
        border: none;
        background: #eee;
        padding: 0.4rem 0.75rem;
        border-radius: 0;
      }

      .submit {
        flex-basis: 100px;
        border: none;
        background-color: blue;
        color: white;
      }
    }
  }

  .footer__section {
    font-size: 0.9rem;
    line-height: 1.5rem;

    * {
      margin: 0.5rem 0;
    }

    .section__header {
      font-size: 0.9rem;
    }
  }

  .footer__nav_links {
    grid-column: 1 / span 3;

    ul {
      display: flex;
      width: 100%;
      li {
        flex-basis: auto;
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 700;
        padding-right: 0.3rem;
      }

      .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }

    @media all and (max-width: 1020px) {
      grid-column: 1 / 2;

      li {
        display: block;
      }
    }
  }
}

@import 'buttons';
